<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <section class="container" ng-controller="TodoController as $ctrl">
        <form>
            <h3>TODO List</h3>
            <p>A place to store the things you have to do!</p>
            <section class="input">
                <input ng-model="$ctrl.filterList" type="text" placeholder="Filter your to do">
            </section>
            <ol>
                <section ng-repeat="task in $ctrl.tasks | filter: $ctrl.filterList track by $index" class="list-item">
                    <li ng-class="{'complete': task.completed === true}"><button ng-click="$ctrl.completeTask(task)" ng-if="!task.completed" class="check">Complete</button>
                        {{task.name}}</li>
                    <i ng-click="$ctrl.removeTask(task)" class="fas fa-times"></i>
                </section>
            </ol>
            <section class="inputbtn">
                <input type="text" ng-model="$ctrl.task.name" placeholder="Add your to do">
                <button ng-click="$ctrl.addTask($ctrl.task)" class="add">Add</button>
            </section>
        </form>



    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
</body>

</html>